* {
  margin-bottom: 2px;
}

body,
html {
  height: 100%;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.comentariosPendientes {
  display: flex;
  border: solid 3px black;
  width: 95%;
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.comentario {
  border: dotted blue 2px;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
